h1 a, h2 a{
    color: green;
	font-family: 'Hack';

}
body{
    width: 95%;
    background: black;
    margin: auto;
}
p {
    color: green;
    font-family: 'Hack';

}
.pg-header{
	margin-top: 0;
	color: green;
	padding: 20px, 20px, 20px, 40px;
}

