{% load static %}
<html lang='pt'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Django develop</title>
    </head>
    <body>
        <div class="pg-header">
            <h1><a href="/">>Django blog</a></h1>
            <form class="search-top" method="GET" action="{% url 'index' %}">
              <input class="search-top" type="search" name="search" placeholder="Search" value="{{ request.GET.q }}">
              <button class="logout-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <form class="top-menu" action="{% url 'logout_form' %}" method="post">
              {% csrf_token %}
                <button type="submit" class="logout-btn"><span class="glyphicon glyphicon-log-out"></span>Sair</button>
            </form>
            <a href="{% url 'register_form' %}" class="top-menu"><span class="glyphicon glyphicon-star-empty"></span></a>
            <a href="{% url 'login_form' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
