{% load static %}
<html lang='pt'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Django develop</title>
    </head>
    <body>

        <div>
            <h1><a href="/">Exemplos de links</a></h1>
        </div>

        <div>
            {% for posts in posts %}
            <div>
                <p>publicado: {{ posts.pub_date }}</p>
                <h2><a href="">{{ posts.title }}</a></h2>
                <p>{{ posts.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
          
    </body>
</html>



