{% extends 'base_top.html' %}
    {% block content %}
        {% if posts.pub_date %}
            <div class="posts">
                <h2>{{ posts.title }}</h2>
                <p>{{ posts.text|linebreaksbr }}</p>
                <div class="date_post_list">
                    <p>Publicado: {{ posts.pub_date }}</p>
                </div>
                {% if user.is_authenticated %}
                    <a  href="{% url 'post_edit' pk=posts.pk %}" class="top-menu"><i class="far fa-edit"></i> Editar</a>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
